.form-btn {
    background-color: rgb(50,110,36);
    padding: 16px 20px;
    color: aliceblue;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: .2s all;
}

.form-btn:hover {
    background-color: rgb(34,75,15);
    border-radius: 5px;
}

.post-btn {
    background-color: rgb(36,105,110);
    padding: 16px 20px;
    color: aliceblue;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: .2s all;
}

.post-btn:hover {
    background-color: rgb(15,51,75);
    border-radius: 5px;
}
.post-control-btn3 {
    background-color: rgb(23, 197, 139);
    padding: 16px 20px;
    color: aliceblue;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 200px;
    transition: .2s all;
}

.post-control-btn3:hover {
    background-color: rgb(3, 58, 46);
   
}
.post-control-btn1 {
    background-color: rgb(36,105,110);
    margin-left: 10px;
    padding: 5px 5px;
    color: aliceblue;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 10px;
    transition: .2s all;
    margin-left: 5px;
}

.post-control-btn1:hover {
    background-color: rgb(15,51,75);
    border-radius: 5px;
}

.post-control-btn2 {
    background-color: rgb(223, 10, 21);
    margin-left: 10px;
    padding: 5px 5px;
    color: aliceblue;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 10px;
    transition: .2s all;
}

.post-control-btn2:hover {
    background-color: rgb(209, 69, 13);
    border-radius: 5px;
}


